{
  "parser": "babel-eslint",
  "env": {
      "browser": true
  },
  "plugins": [
      "react"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
  ],
  "rules": {
      "react/display-name": [0],
      "semi": ["error", "never"],
      "quotes": ["error", "single"],
      "object-curly-spacing": ["error", "always"],
      "array-bracket-spacing": ["error", "never"],
      "computed-property-spacing": ["error", "never"],
      "comma-dangle": ["error", "always-multiline"],
      "comma-style": ["error", "last"],
      "comma-spacing": ["error", { "before": false, "after": true }],
      "arrow-parens": ["error", "as-needed"],
      "jsx-quotes": ["error", "prefer-single"],
      "no-console": "error",
      "react/prop-types": "off"
  },
  "settings": {
      "react": {
          "version": "detect"
      }
  },
  "globals": {
    "require": true,
    "Promise": true,
    "Set": true,
    "global": true
  }
}
