{
  "parser": "babel-eslint",
  "env": {
      "browser": true
  },
  "plugins": [
      "react",
      "prettier"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:react-native/all"
  ],
  "rules": {
      "prettier/prettier": "error",
      "react/display-name": "off",
      "react/prop-types": "off",
      "react-native/split-platform-components": "off",
      "no-console": "error"
  },
  "settings": {
      "react": {
          "version": "detect"
      }
  },
  "globals": {
    "Promise": true,
    "Set": true
  }
}
